.item{
    padding: 0;
    margin: 0;
    padding: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
}

.item:hover, .item.active{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 9px 20px #E0E6FF;
}


.material-icons.md-18{
    color: #46B5E8;
    font-size: 1.4em;
    margin: 0 20px 0 10px;
}

.title{
    display: inline-block;
    color: #5D788B;
    font-size: 1.2em;
    font-weight: 400;
}



