@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;500;600;700&display=swap');

#sidebar{
    display: none;
}

@media only screen and (min-width: 1024px){
    #sidebar{
        display: block;
        background-color: #FFFFFF;
        border-right: 1px solid #E6E9F5;;
        position: fixed;
        left: 0;
        height: 100%;
        width: 299px;
    }
}

.logoContainer{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.material-icons.md-24{
    font-size: 3em;
    color: #5D788B;
    justify-self: end;
}

.logoText{
    display: block;
    font-size: 1.6em;
    font-family: 'Rosario';
    font-weight: 700;
    color: #46B5E8;
    justify-self: start;
    align-self: center;
    margin-left: 10px;
}

ul{
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}