.addTile{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 9px 20px #E0E6FF;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addIcon{
    width: 24px;
}