p{
    margin: 0;
}

.tile{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 9px 20px #E0E6FF;
    padding: 30px;
}

.tileTitle{
    font-size: 1.5vw;
    padding-bottom: 25px;
    font-weight: bold;
}

.tileInfo{
    font-size: 1vw;
    padding-bottom: 25px;
    color: #7E7E7E;
    border-bottom: 1px solid #F1F4FF;
    margin-bottom: 25px;
}