.notes{
    width: 100%;
}

.editorContainer{
    width: calc(100% - 350px);
}



.notesControlsContainer{
    width: 350px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 101px;
    border-left: 1px solid #F1F4FF;
    background-color: white;
}

.notesEffectsContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.notesEffectsContainer > button{
    padding: 10px 30px;
    background-color: #B2E7FF;
    color: #46B5E8;
    font-weight: 700;
    border: none;
}

.notesNavContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notesNavContainer > .md-18{
    font-size: 4vw;
    color: #C9D4FD;
    user-select: none;
    cursor: pointer;
}

div.DraftEditor-root {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #E0E6FF;
    padding: 60px 50px;
    height: 900px;
    width: 700px;
    overflow-y: auto;
    margin: 30px auto;
}

/* width */
div.DraftEditor-root::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.DraftEditor-root::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #E0E6FF;
    border-radius: 10px;
}

/* Handle */
div.DraftEditor-root::-webkit-scrollbar-thumb {
    background: #DFE5FE;
    border-radius: 10px;
}

/* Handle on hover */
div.DraftEditor-root::-webkit-scrollbar-thumb:hover {
    background: #C9D4FD;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 90%;
}