#course{
    width: 100%;
    height: 100%;
}

.courseContainer{
    width: 95%;
    margin: auto;
}

.scheduleContainer, #assignText{
    display: none;
}

.materialContainer{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    margin: auto;
}

@media only screen and (min-width: 1024px){
    .scheduleContainer{
        width: 99%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-gap: 0.7rem;
    }

    #assignText{
        display: block;
        font-weight: 500;
        color: #5D788B;
        font-size: 1.4em;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    .materialContainer{
        width: 95%;
        margin-top: 30px;
    }
}